/* STYLING FOR ALL 3 HTMLS */
    .header { /*Top Bar styling*/
        background-color: white;
        height: 69px;
        border-bottom: solid;
        border-color: darkslategrey;
        border-width: thin;
    }
        .DavidWu {
            padding: 12px;
            color: #ffffff;
            position: relative;
            left: 20%;
            width: 199px;
            background-color: #4aaaa5;
            float: left;
        }
        .links { /*for the div containing 3 links*/
            float: right; 
            padding: 10px;
            position: relative;
            right: 15%;
            color: rgb(182, 182, 182);
        }
        a{ /*for the links' styles*/
            text-decoration: none; /*kills off the default underline/color for links*/
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: dimgray;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 3px;
            position: relative;
            top: 14px;
        }
        a:hover{ /*for when links are hovered over*/
            background-color: #57c5c0;
        }




    body {
        background-image: url(./../images/papyrus.png)
    } /* Background pattern from Toptal Subtle Patterns */

        h1 {
            font-family: 'Georgia', Times, Times New Roman, serif;
            font-size:32px;
            padding:6px;
        }
        p, form {
            font-family: Arial, Helvetica, sans-serif; /*basically all "content" on my page(s)*/
            font-size: 20px;
            color: dimgray;
            padding: 3px;
        }
        .bio {
            text-indent: 50px; /*indents paragraphs in index.html content*/
        }

        .contenttitle { /*titles are About Me, Portfolio, and Contact*/
            border-bottom:solid #4aaaa5;
            color: #4aaaa5;
            padding:10px;
            margin-bottom: 7px;
        }
        .content {
            background-color:white;
            border:solid;
            border-color: darkslategrey;
            border-width: thin;
            padding: 10px;
            position: fixed;
            left: 20%;
            top: 20%;
            width: 960px;
        }
        
        #photo {
            width: 165px;
            float: left;
            margin-right: 20px;
        }

    #copyright{ /*footer and copyright notice*/
            padding-top: 16px;
            padding-bottom: 26px;
            position:absolute;
            bottom:0%;
            width: 100%;
            height: 44px;
            background-color: rgb(32, 51, 44);
            color: rgb(182, 182, 182);
            border-top:solid #4aaaa5 4px;
            text-align: center;
            text-align: bottom;
        }

/* STYLING THE CONTACT FORM  (thanks so much w3schools.com)*/
    input[type=text], textarea { /*for the text boxes*/
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc; /* Gray border */
        border-radius: 3px; /*rounds off the corners of a thing*/
        margin-top: 8px;
        margin-bottom: 16px;
        display: block;
        resize: vertical; /* Apparently allows the user to vertically resize the textarea*/
        font-family: Arial, Helvetica, sans-serif; /*Keep the same font as all other HTMLs*/
    }
        
    input[type=submit] { /*styling the submit button*/
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
      }
    
    