body {
    background-color: lightgrey;
}
.header {
    background-color: white;
    height: 69px;
    border-bottom: solid;
    border-color: darkslategrey;
    border-width: thin;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:32px;
    padding:6px;
}

p {
    font-family: Arial', 'Helvetica Neue'; 
    font-size: 20px;
    padding: 3px;
    text-indent: 50px;
}
.DavidWu {
    padding: 12px;
    color: #ffffff;
    position: relative;
    left: 20%;
    width: 199px;
    background-color: teal;
    float: left;
}

.links {
    float: right; 
    padding: 10px;
    position: relative;
    right: 15%;
    color: lightgrey;

}

.content {
    background-color:white;
    border:solid;
    border-color: darkslategrey;
    border-width: thin;
    padding: 10px;
    position: fixed;
    left: 20%;
    top: 10%;
    width: 960px;
}
.contenttitle {
    color: teal;
}

#photo {
    width: 165px;
    float: left;
    margin-right: 20px;
}